@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: poppins;
}

.wrapper
{
    border: 0;
    margin:  auto;
}


header{
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    width:100%;
}

header .heading{
    font-size: 3rem;
    color:#666;
    padding:1rem;
    text-align: center;
}

header #menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    margin:1rem;
    display: none;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background:var(--orange);
    padding:1rem; 
}

header .navbar ul li{
    margin:0 1.5rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a:hover{
    color:#444;
}

.section
{
    text-align: center;
    margin-bottom: 30px;
}

.section h1{
    text-transform: uppercase;
    margin:0;
    font-size: 45px;
    letter-spacing: 5px;
}

.team-members{
     width: 20%;
     height: 30%;
     float: left;
     box-shadow: 5px 5px 15px #000;
     position: relative;
     display: block;
     overflow: hidden;
     padding: 10px;
     text-align: center;
    
     background: #222859;

    
     border:none;
    
    inset: 4px 4px 10px white;
     box-radius:20px !important;
     overflow:hidden;
     justify-content:center;
     align-item:center;
     left: 60px;
     margin:20px 65px;
     
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.team-members img{
    width: 100%;

}

.team-members h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
}

.team-members::before{
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 40px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.team-members::after{
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 40px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);

}

.team-members:hover::before{
    border-color: #d04fd0;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.team-members:hover::after{
    border-color: hsl(337, 58%, 56%);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}
